.places__like {
  cursor: pointer;
  margin-top: 31px;
  background: url(../../../img/like.svg) center center/cover no-repeat;
  width: 22px;
  height: 19px;
  margin-left: auto;
  margin-right: 30px;
  border: none;
  transition: all 0.5s;
}
.places__like:hover {
  opacity: 0.6;
}
