.divider {
  max-width: 100%;
  padding: 31px 200px 0;
}
@media (max-width: 1279px) {
  .divider {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 730px) {
  .divider {
    padding-left: 0;
    padding-right: 0;
  }
}
